html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

.blog-post {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  background-color: white;
  color: #203647;
  box-shadow: 5px 5px 20px gray
}
.blog-post:hover {
  background-color: #203647;
  color: white;
}

.mdbody {
  width: 700px;
  text-align: justify;
  margin: auto;
}
.mdbody > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.footer {
  
  width: 102%; 
  background-color: #EEFBFB; 
  box-shadow: 5px 5px 20px gray; 
  display: flex; 
  justify-content: space-evenly
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white
}

* {
  box-sizing: border-box;
}

.underline {
  display: inline-block;
}

.underline::after {
  content: '';
  width: 0px;
  height: 3px;
  display: block;
  background: white;
  transition: 300ms;
}

.underline:hover::after {
  
  width: 100%;
}

.underline:hover {
  cursor: pointer;
}

.profilepic {
  width: 600px;
  padding-top: 30px;
}

.aboutme {
  width: 100%; 
  height: 700px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  margin: auto; 
  text-align: justify; 
  background-image: url("https://i.imgur.com/eXAeGwZ.jpg"); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: #203647; 
  align-items: center; 
  text-align: center

}

.aboutme-title {
  width: 550px; 
  color: white; 
  background-color: rgb(26,46,60, 0.8); 
  margin-top: 20px;
  padding: 10px;
}

.aboutme-p {
  width: 550px; 
  color: white; 
  background-color: rgb(26,46,60, 0.8);
  font-size: 20px;
  text-align: justify;
  padding: 20px
}




@media only screen and (max-width: 650px){
  .profilepic, .aboutme-title, .aboutme-p, .mdbody, .mdbody > p > img{
  width: 350px;
  
}

.footer {
  position: fixed;
  left: 0; 
  bottom: 0; 
}


  }
